<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="puppetWrapperAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jetty.base}/logs/puppetwrapper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${jetty.base}/logs/puppetwrapper.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>time=%d{yyyy-MM-dd HH:mm:ss.SSS} | lvl=%-5p | trans=%X{txId} | comp=PuppetWrapper - %C{0} | op=%M | msg=%m%n
            </pattern>
        </encoder>
    </appender>
	
	<logger name="com.telefonica.euro_iaas.sdc" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="puppetWrapperAppender" />
	</logger>
	
	<!-- SpringFramework logger -->
     <logger name="org.springframework" additivity="false">
        <level value="warn" />
        <appender-ref ref="puppetWrapperAppender" />
    </logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="puppetWrapperAppender" />
	</root>

</configuration>