<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/data/mongo	http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">



	<import resource="spring-security-config.xml" />

	<context:annotation-config />
	<mvc:annotation-driven />
	<context:component-scan
		base-package="com.telefonica.euro_iaas.sdc.puppetwrapper.services" />



	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:puppetWrapper.properties" />
	</bean>


	<!-- To allow special characters in the URLlike . - etc... -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="useDefaultSuffixPattern" value="false" />
	</bean>


	<mongo:mongo host="${mongo.host}" port="${mongo.port}" />
	<mongo:db-factory dbname="puppetWrapper" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<aop:config proxy-target-class="true">
		<aop:advisor advice-ref="traceInterceptor"
			pointcut="execution(* com.telefonica.euro_iaas.sdc.puppetwrapper.controllers..*(..))" />
		<aop:advisor advice-ref="traceInterceptor"
			pointcut="execution(* com.telefonica.euro_iaas.sdc.puppetwrapper.services.impl..*(..))" />
	</aop:config>

	<bean name="traceInterceptor"
		class="com.telefonica.euro_iaas.sdc.puppetwrapper.aspects.TraceInterceptor">
		<property name="enterMessage"
			value="comp=PuppetWrapper - $[targetClassShortName] | op=$[methodName] | msg=ENTER: $[targetClassShortName].$[methodName]($[arguments])" />
		<property name="exitMessage"
			value="comp=PuppetWrapper - $[targetClassShortName] | op=$[methodName] | msg=EXIT: $[targetClassShortName].$[methodName](): $[returnValue]" />
		<property name="loggerName" value="aspectLogger" />
	</bean>

	<bean id="httpClient" lazy-init="true"
		class="org.apache.http.impl.client.DefaultHttpClient" />

</beans>